//- layoutを継承して
extends layout
//- contentブロックを書き換える
block content
  //- 見出し用のアレ
  div(class="jumbotron")
    h1 予定調整くん
    p 予定調整くんは、GitHubで認証でき、予定を作って出欠が取れるサービスです
  if user
    div
      //- ボタン
      a(class="btn btn-info" href="/schedules/new") 予定を作る
    //- スケジュールが存在するなら表示する
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3 あなたの作った予定一覧
      table(class="table")
        tr
          th 予定名
          th 更新日時
        each schedule in schedules
          tr
            td
              a(href="/schedules/#{schedule.scheduleId}") #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
