extends layout

block content
  div(class="jumbotron")
    h1 予定調整くん
    p 予定調整くんは、GitHubで認証でき、予定を作って出欠が取れるサービスです
  if user
    div
      a(class="btn btn-info" href="/schedules/new") 予定を作る
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3 あなたの作った予定一覧
      <a href="https://twitter.com/intent/tweet?button_hashtag=予定調整くん&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="イベントやります！" data-url="https://whispering-temple-47051.herokuapp.com/" data-lang="ja" data-show-count="false">Tweet #LoveTwitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      table(class="table")
        tr
          th 予定名
          th 更新日時
        each schedule in schedules
          tr
            td
              a(href="/schedules/#{schedule.scheduleId}") #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}

