extends layout

block content
  div.jumbotron.my-3
    h1.display-4 Schedule Arranger
    p.lead Here you can arrange an event schedule with your members with authentication by GitHub 
  if user
    div
      a(href="/schedules/new").btn.btn-info Make a new event!
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 List of your events
      table.table
        tr
          th Event title
          th Latest uppdate
        each schedule in schedules
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
