extends layout

block content
  a(href="/auth/github").btn.btn-info.my-3 GitHubでログイン
  a(href="https://albertgh1996.auth0.com/v2/logout?client_id=eKWbdnubCoWrjqq8KMuMX6fwmu4eoNG0&returnTo=http://localhost:8000/auth/auth0").btn.btn-danger.my-3 メールアドレスとパスワードでログイン