extends layout

block content
  form(method="post", action="/schedules").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") Event title
      input(type="text" name="scheduleName")#scheduleName.form-control
    div.form-group
      label(for="memo") Note
      textarea(name="memo")#memo.form-control
    div.form-group
      label(for="candidates") Candidate dates (Input several dates with line breakes)
      textarea(name="candidates" rows="4")#candidates.form-control
    button(type="submit").btn.btn-info Register this event!
