extends layout

block content
  form(class="schedule-record" method="post", action="/schedules")
    input(type="hidden" name="_csrf" value!="#{csrfToken}")
    div(class="form-group")
      label(for="scheduleName") 予定名
      input(id="scheduleName" class="form-control" type="text" name="scheduleName")
    div(class="form-group")
      label(for="memo") メモ
      textarea(id="memo" class="form-control" name="memo")
    div(class="form-group")
      label(for="candidates") カレンダーより候補日程の選択
      textarea(id="candidates" class="form-control" name="candidates" data-alt-input-class="bar" placeholder="ここをクリックしてカレンダーを表示してください")
    button(class="btn btn-info" type="submit") 予定をつくる