.form-control.is-valid, .was-validated .form-control:valid {
  background-image: url("valid.png");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: url("invalid.png");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
nav .navbar-nav li a{
  display:block ;
  width: 100% ;
  padding: 10px !important;
  border-radius: 5px;
  background-color: silver;
  color: #ffffdd !important;
  }
nav .navbar-nav li a:hover{
  background-color: gray;
  }